<script>
  import { toggleTokenView } from './tokenSetter.js';
</script>

<div class="header">
  <div class="header-left">
    <a href="#" class="big link">deemix</a>
  </div>

  <div class="header-right">
    <button class="set-token" on:click={toggleTokenView}>Set Token</button>
  </div>
</div>

<style>
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    align-self: stretch;
  }

  .header > * {
    margin-left: 12px;
    margin-right: 12px;
  }
  .header .link {
    font-size: x-large;
    text-decoration: none;
  }

  .header-left {
    flex: 1 1 0px;
    margin-left: 16px;
  }
  .header-left > * {
    margin-right: 16px;
  }

  .set-token {
    color: rgb(131, 131, 243);
  }
</style>