<div class="lds-ring"><div></div><div></div><div></div><div></div></div>

<style>
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (prefers-color-scheme: dark) {
    .lds-ring div {
      border: 8px solid #fff;
      border-color: #fff transparent transparent transparent;
    }
  }
  @media (prefers-color-scheme: light) {
    .lds-ring div {
      border: 8px solid #1e1e2d;
      border-color: #1e1e2d transparent transparent transparent;
    }
  }
</style>