<script>
  import { cancelToken, submitToken } from './tokenSetter.js';
</script>

<div class="token-edit hidden">
  <form class="token-form" on:submit|preventDefault={submitToken}>
    <input class="token-input" type="password" placeholder="Token" autocomplete="off">
    <div class="options">
      <button type="submit">Set</button>
      <button type="button" on:click={cancelToken}>Cancel</button>
    </div>
  </form>
</div>

<style>
  input {
    margin: 5px;
    padding: 15px;
    font-size: x-large;
    border: none;
    border-radius: 7px;
    margin-bottom: 0.2rem;
    margin-top: 1.4rem;
    transition: 0.1s border-bottom-width ease-in-out, 0.1s margin-bottom ease-in-out, 0.1s background-color ease-in-out;
    flex: 1 1 0px;
    width: unset;
    min-width: 0;
  }

  button {
    font-size: x-large;
    margin: 5px;
    padding: 10px;
    flex: 0 0 auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .token-edit {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .token-edit.hidden {
    display: none;
  }

  input:focus, input:hover {
    margin-bottom: 0;
    border-bottom-width: 0.25rem;
  }

  @media (prefers-color-scheme: light) {
    input {
      background-color: #ffffff;
      color: #1e1e2d;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      border-bottom: 0rem solid  #ea74ac;
    }
    input:focus, input:hover {
      background-color: #fafafa;
    }
    button {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
    .token-edit {
      background-color: #ffffff;
    }
  }
  @media (prefers-color-scheme: dark) {
    input {
      background-color: #112;
      color: #fff;
      box-shadow: 0px 0px 15px #000;
      border-bottom: 0rem solid  rgb(131, 131, 243);
    }
    input:focus, input:hover {
      background-color: #161626;
    }
    button {
      box-shadow: 0px 0px 15px #000;
    }
    .token-edit {
      background-color: #0a0a0f;
    }
  }
</style>